@charset "utf-8";

header{
	padding: 5px 0px; 
	margin-bottom: 20px;
	height: 35px;
	
	background-color: #545454;
	color: #fff;
	
	box-shadow: opx 2px 2px #ccc;
}

header > div{
	margin-left: 8px
}

h1{
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
}

body{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-size: normal;
}

.ajax-status{
	position: fixed;
	top: 55px;
	right: 10px;
	width: 35px;
	height: 35px;
}

#conteudo{
	padding: 0px 8px;
}

#login-dialog{
	width: 290px;
	margin: auto;
	margin-top: 150px;
}

.grid-login{
	background-color: #20b9eb;
	border-radius: 8px;
	border: 1px;
	margin-top: 8px;
	padding: 10px;
}

.rotulo{
	width: 150px
}

.ui-panelgrid td {
	height: 34px;
}

#j_idt16\3a j_idt45\3a tabelaItens\3a 0\3a j_idt50{
	width: 99%
}

/* Customiza TabView - início */
.ui-tabs .ui-tabs-panel{
	padding: 0.5em 0.2em !important;
}

.ui-tabs{
	padding: 0px !important;"
}

.ui-tabs .ui-tabs-nav{
	margin: -1px !important;
}

.ui-tabs.ui-tabs-top > .ui-tabs-nav {
	padding: 0px !omportant;
}
/* Customiza TabView - fim */ 

.produto-tabela input {
	width: 100%;
}

/* Menu sistema inicio */
.menu-sistema {
    border: 0px !important;
    padding: 0px !important;
    background: none !important;
}

.menu-sistema .ui-menu-parent > a .ui-menuitem-text, .menu-sistema > .ui-menu-list > .ui-menuitem > a > .ui-menuitem-text {
    color: #ffffff !important;
}

.menu-sistema .ui-icon-triangle-1-s {
    background: url(#{resource['images:seta-para-baixo.png']}) no-repeat;
}
/* Menu sistema fim */

footer{
	margin-left: 0px 8px
	margin-bottom: 10px
}